# Mark Down 
## Mark Down
### MArk Down
#### MArk Down

# Python
  - python1
    - python1
    - python2
    
# Font Styles
   - **Python**
   - *Python*
   - ***Python***

# print function():
     
  - in python print function used to print specific text or message

In [2]:
print ("Hello world")

Hello world

In [3]:
print ("Hello ,world")

Hello ,world

In [7]:
print ("one", "two", "Three")

one two Three

# Variables
  - To store some data values

In [8]:
a = 10 # single value assaigned to single variable
print (a)

10

In [9]:
a = b = c= 10 # single value assaigned to multiple variables
print (a,b,c)

10 10 10

In [10]:
a,b,c = 10,20,30 # Multiple values assaigned to multiple variables
print (a,b,c)

10 20 30

# Input Function
   - accept input from user

In [12]:
# Input as a text
x = input ("Enter your name:")
print ("Your name is:",x)
print (type(x))

Enter your name:Lavanya
Your name is: Lavanya
<class 'str'>

In [14]:
# Input as number
n = int(input("Enter a number:"))
print (n)
print (type(n))

Enter a number:25
25
<class 'int'>

# Date Types:

In [15]:
# Inter 
x = 10
print (x)
print (type(x))

10
<class 'int'>

In [16]:
# Float
a = 10.2
print (a)
print (type(a))

10.2
<class 'float'>

In [17]:
# String
a = "python"
print (a)
print (type(a))

python
<class 'str'>

# Data Converstions:

In [20]:
# Integer 
n = 5
print (n,type(n))
f = float (n)
print (f,type(f))
s = str(n)
print (s,type(s))

5 <class 'int'>
5.0 <class 'float'>
5 <class 'str'>

In [24]:
# String 
s = "12345"
print (s,type(s))
n = int(s)
print (n,type(n))
f = float(s)
print (f,type(f))

12345 <class 'str'>
12345 <class 'int'>
12345.0 <class 'float'>

In [30]:
# float
f = 5.5
print (f,type(f))
n = int(f)
print (n,type(n))
s = str(f)
print (s,type(s))

5.5 <class 'float'>
5 <class 'int'>
5.5 <class 'str'>

# Exercise:

## Display three string "name","is","James" as "Name** IS **James"

In [2]:
n = input("enter your name:")
print("name is",n)

enter your name:James
name is James

## Write a python program which accepts the radius of the circle from the user and compute the area

In [3]:
pi= 3.14
r = int(input("enter radius:"))
print(pi*r*r)

enter radius:6
113.03999999999999

## Accept two numbers from the user and return their sum,multiplication,division

In [4]:
a = int(input())
b = int(input())
c = a+b
d = a-b
e = a*b
f = a/b
print (c,d,e,f)

5
6
11 -1 30 0.8333333333333334

## Using input() function, print() function and another function you may need; ask for the current year, then print the answer +50.

In [5]:
x = int(input("enter a year :"))
x = x+50
print(x)

enter a year :1972
2022